body {
	background: white no-repeat fixed;
	color: black;
}

h1, h2, h3 {
	font-family: Verdana;
}

p {
	text-align: justify;
}

body > div {
	width: 60em;
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
	/*background: #d0e0ff;*/
	background: rgba(208,224,255,0.9);
	padding-top: 16px;
	padding-bottom: 16px;
}

img#logo {
	/*display: block;
    margin-left: auto;
    margin-right: auto;
	position: relative;
	top: -40px;*/
	position:absolute;
	top: 4px;
}

body > div > h1 {
	text-align:center;
}

body > div > div {
	width: 90%;
	margin: auto;
}

div#motto {
	text-align: right;
	font-style: italic;
	font-size: larger;
    margin-bottom: 28pt;
}

div#abstract {
    letter-spacing: 0.06em;
    /*font-size: larger;*/
    font-style: italic;
    font-family: Georgia;
}

div.fold>h2, div.fold>h3, div.fold>h4 {
	cursor: pointer;
}

[bullet='open']:before {
    content: "⊟ ";
}

[bullet='closed']:before {
    content: "⊞ ";
}
